body {
	background-color: var(--cinza-claro);
	color: var(--cinza-escuro);
}

a, p {
	font-size: var(--paragrafo-font-size);
	font-family: var(--font-family-paragrafo);
	text-align: justify;
}

h2 {
	font-size: var(--subtitulo-font-size);
	font-family: var(--font-family-titulo-secao);
	color: var(--cinza-escuro);
}

h3 {
	font-size: var(--h3-font-size);
	font-family: var(--font-family-titulo-secao);
	color: var(--cinza-escuro);
}

a:link, a:visited {
	color: var(--cinza-escuro);
}

a:hover, a:active {
	color: var(--laranja);
	font-weight: bold;
}

/* =========		Header		========= */

header {
	height: 10vh;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav {
	width: 100%;
}

header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
}

header nav ul li {
	
}

/* =========		Logo		========= */

.logo {
	display: flex;
	flex-direction: column;
	font-size: var(--titulo-font-size);
	font-family: var(--font-family-titulo-secao);
	text-align: center;
	color: var(--cinza-escuro);
}

.logo h1 {
	font-size: 1em;
}

.logo h2 {
	font-size: 0.65em;
	color: var(--laranja);
	line-height: 12px;
}

/* =========		Hero Section		========= */

.hero_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	gap: 70px;
}

.hero_section p {
	width: clamp(45ch, 50%, 75ch);
}

@media only screen and (max-width: 600px) {
	.hero_section {
		justify-content: space-between;
		gap: 0px;
		height: fit-content;
		padding: 40px 0px 40px 0px;
	}

	.hero_section p {
		width: 80%;
		margin-top: 55px;
	}
}

/* conteudo: desenho das tv boxes + texto */
.hero_section .conteudo {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

/* =========		Soluções		========= */
.solucoes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.solucoes h2 {
	margin: 40px;
}

.solucoes .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: clamp(250px, 70%, 1000px);
	background-color: var(--cinza-medio);
	border-radius: 30px;
}

.solucoes .descricao {
	margin: 0px 10% 40px 10%;
}

.solucoes h3, .solucoes button {
	margin-left: 10%;
}

.solucoes button {
	width: fit-content;
	height: fit-content;
	background-color: var(--laranja);
	border-radius: 10px;
	border-style: none;
	color: var(--cinza-claro);
	cursor: pointer;
	font-family: var(--font-family-paragrafo);
	font-size: clamp(1rem, 0.8vw + 1rem, 1.6rem);
	text-align: center;
	padding: 5px 10px;
	margin-bottom: 20px;
}

button:hover, button:focus {
	background-color: #F082AC;
}

.solucoes .todos_cartoes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
	gap: 40px;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.solucoes .cartao {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 322px;
	border-radius: 12px;
	gap: 20px;	
}

@media only screen and (max-width: 1300px) {
	/* o botão fica no meio do cartão */
	.solucoes button {
		margin-right: 10%;
	}

	.solucoes button {
		width: auto;
		height: auto;
	}
}

.solucoes .cartao p {
	margin: 0px 10%;
}

.solucoes .cartao .imagem {
	background-color: #DEDEDE;
	width: 100%;
	min-height: 212px;
	border-radius: 12px 12px 0px 0px;
}

.solucoes .cartao .imagem img {
	border-radius: 12px 12px 0px 0px;
	width: 100%;
	min-height: 212px;
}

.solucoes a {
	color: var(--laranja);
	font-weight: bold;
	text-decoration: underline;
}

@media only screen and (max-width: 700px) {
	.solucoes .cartao {
		width: 292px;
	}
	
	.solucoes .cartao .imagem {
		height: 172px;
	}
} 

@media only screen and (max-width: 550px) {
	.solucoes .cartao {
		width: 242px;
	}
	
	.solucoes .wrapper {
		width: 100%;
		border-radius: 0px;
	}
} 

@media only screen and (max-width: 400px) {
	.solucoes .todos_cartoes {
		width: 100%;
	}
	
	.solucoes .cartao {
		width: 100%;
		border-radius: 0px;
	}
		
	.solucoes .cartao .imagem {
		height: 122px;
		border-radius: 0px;
	}
	
	.solucoes .cartao .imagem img {
		border-radius: 0px;
		height: 122px;
		object-fit: fill;
	}
	
	.solucoes button {
		width: 100%;
		border-radius: 0px;
		padding: 5px 10px;
		margin: 0px;
	}
} 

/* =========		Footer		========= */
footer {
	/* centraliza o footer na tela */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

footer .wrapper_footer {
	display: flex;
	flex-direction: column;
	width: clamp(250px, 70%, 1000px);
}

footer ul {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

footer ul li{
	display: flex; /* para o texto ficar ao lado do ícone */
	align-items: center; /* para o texto ficar na altura do ícone */
	gap: 15px;
}

footer img {
	width: var(--subtitulo-font-size);
}
